# Dependencies
node_modules/

# Build output
dist/
out/
build/
*.app

# Electron
release/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local
